# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rider (JetBrains IDE)
.idea/

# Build outputs
bin/
obj/
**/bin/
**/obj/
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET secrets
*.db
*.sqlite
*.pfx

# VS Code
.vscode/
MyWallet/wwwroot/images/portfolios/
